<!DOCTYPE html>
<html>
<head>
	<title>To do List</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body>
	<div class="box" id="heading">
		<h1><%= listtitle %></h1>
	</div>

	
		<div class="box">
			

<% newlistitem.forEach(function(item)
{ %>

	<form action="/delete" method="POST">
	<div class="item">
		<input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
		<p><%= item.name %></p>
		<input type="hidden" name="listName" value="<%=listtitle%>"></input>
	</div>
</form>
<% }) %>
	

<form action="/" method="POST" class="item">
	<input type="text" name="newitem" placeholder="New Item" autocomplete="off">
	<button type="submit" name="list" value="<%= listtitle %>">+</button>
	

</form>
</div>
	

</body>
</html>